*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
h1{
    text-align: center;
    color: rgb(15, 199, 15);
    padding: 20px;

}

nav{
    background-color: rgb(238, 178, 13);
    display: grid;
    place-items: center;

}

nav ul{
    list-style-type: none;
}

nav ul a{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: 0.2s ease-in;
    font-size: 18px;
}

nav ul a:hover{
    background-color: darkred;
    color: white;
}
.items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 30px 20px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}
.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.2s ease;
}

.item img:hover{
    transform: scale(1.04);

}
.item h4{
    padding: 5px;
    text-align: center;

}

.item button{
    padding: 5px 30px;
    border: none;
    outline: none;
    background-color: rgb(114, 13, 4);
    color: white;
    cursor: pointer;
    border-radius:4px ;
    font-size: 20px;
    display: block;
    margin: 0 auto;
    transition: 0.2s all;
}
.item button:hover{
    transform: scale(1.08);

}
@media screen and (max-width: 1000px){
    .items{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px){
    .items{
        grid-template-columns: repeat(1, 1fr);
    }
}


/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #c20b0b;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #7b0400 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}


@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

.about-section{
    text-align: center;
}